* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgba(191, 233, 246, 0.802);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* header */


header {
    display: flex;
    align-items: center;
    height: 13vh;
    background-image: linear-gradient(
        43deg,
        rgb(7, 2, 39) 46%,
        rgb(13, 28, 68) 100%
    );
    justify-content: space-between;
    color: white;
}

.postar {
    border-radius: 200px;
    width: 30px;
    height: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 10px;
}

#lupa {
    color: rgb(0, 0, 0);
    width:200px
}

/* main */

.principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.publi {
    height: fit-content;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 10px;
    margin-bottom: 2vh;
    margin: 20px;
    width: fit-content;
    box-shadow: 2px 2px 5px 5px rgba(126, 113, 113, 0.206);
    background-color: rgba(255, 255, 255, 0.527);
    padding: 10px;
}

.publiHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.publiHeader>img {
    height: 300px;
    width: 50%;
}

.publi>button {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 100%;
}


.publi>img {
    height: 100px;
    width: 100px;
}


.publiFooter {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.model {
    visibility: hidden;
    display: none;
}

.imgs {
    margin: 0 0 0 7px;
}

.imgs>img {
    height: 4vh;
}


.footer1 {
    display: flex;
    justify-content: space-between;
}

.categoria,
.sub_categoria {
    color: rgba(0, 0, 0, 0.498);
    font-size: 20px;
}

.data_publi {
    font-size: 20px;
    margin: 0 15px 0 0;
}

.perfil{
    height: 80px;
    display: flex;
    align-items: center;
}

.perfil> img{
    margin-right: 7px;
    height:80%;
    border-radius: 100%;
}


/* modals */


/* modal perfil */

.modalPerfil{
    justify-content:flex-end;
    display:none;
    position: absolute;
    top:74px;
    right:0px;
}

.opcoes{
    width: 80px;
    background-image: linear-gradient(
        43deg,
        rgb(7, 2, 39) 46%,
        rgb(13, 28, 68) 100%
    );
    display: flex;
    flex-direction: column;
    
}

/* modal postar */

.modal-container{
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,.5);
    position:fixed;
    top:0px;
    left:0px;
    z-index:2000;
    display:none;
    justify-content:center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal {
    width: 30%;
    min-width: 300px;
    background-image: linear-gradient(
        43deg,
        rgb(7, 2, 39) 46%,
        rgb(13, 28, 68) 100%
    );
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#btnModal{
    height: 40px;
    width: 40px;
    border: none;
    position:absolute;
    top:0;
    left:0;
    border-radius: 100%;
    background-image: linear-gradient(
        43deg,
        rgb(12, 5, 56) 46%,
        rgb(20, 37, 86) 100%
    );
    color: white;
}

#envModal{
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 100%;
    background-image: linear-gradient(
        43deg,
        rgb(12, 5, 56) 46%,
        rgb(20, 37, 86) 100%
    );
    color: white;
}

#cadastro {
    display: flex;
    flex-direction: column;
}

.btnFechar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro>input,
select {
    width: 200px;
    margin-left: 20px;
    margin-top: 2px;
}

#cadastro>label {
    margin-left: 20px;
}

/* modal comentario */

.coment-container{
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,.5);
    position:fixed;
    top:0px;
    left:0px;
    z-index:2000;
    display:none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.coment-container.mostrar{
    display: flex
}

.comenta{
    background-image: linear-gradient(
        43deg,
        rgb(12, 5, 56) 46%,
        rgb(23, 42, 99) 100%
    );  
    width:60%; 
    min-width: 300px;
    padding:40px;
    margin-top: 40px;
}

#excluirModalComent{
    position:absolute;
    top:0;
    left:0;
}

.modal-resp{
    background-image: linear-gradient(
        43deg,
        rgb(12, 5, 56) 46%,
        rgb(23, 42, 99) 100%
    );  
    height:fit-content;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
}

#comentario2{
    width: 20%;
}

.all{
    height:fit-content;
    width: 30%;
    background-image: linear-gradient(
        43deg,
        rgb(7, 2, 39) 46%,
        rgb(13, 28, 68) 100%
    );
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

#enviarComentario{
    height:20px;
    width: 220px;
}

#comentar{
    width:220px;
}
.all>button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    background-image: linear-gradient(
        43deg,
        rgb(12, 5, 56) 46%,
        rgb(20, 37, 86) 100%
    );
    color: white;
}

#nick{
    margin-top:15px ;
    margin-right:440px;
    font-weight: bold;
    font-size: large;
}